.guitars {
    max-width: 1000px;
    margin: auto;
}

.guitars .products {
    animation-name: show-guitars;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes show-guitars {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.product-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}