@font-face {
    font-family: "Boots And Spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.background {
    background-image: url("../images/home-header.jpg");
    background-size: cover;
    min-height: 900px;
    background-repeat: no-repeat;
}

.home-info {
    border-radius: 40px 40px 40px 40px;
    width: 900px;
}

.profile-pic {
    border-radius: 50%;
}

h1,
h2,
.logo {
    font-family: "Boots And Spurs", "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
}

.product-list h2 {
    font-family: "Roboto",  Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
    background-color: #202020;
    color: white;
}

header a {
    color:white;
}

.cta {
    background-color: #bb0000;
    color: white;
    font-size: 1.5em;
}

.reviews {
    background-color: #e8e8e8;
}

.featured--products {
    background-color: #fbfbfb;
}

.cta-sale {
    background-color: #127300;
}

footer {
    text-align: center;
}



